* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.animal_information {
    margin-bottom: 100px;
    .mySwiper2 {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        border-radius: 10px;
        img {
            width: 100%;
        }
    }
    .mySwiper {
        img {
            border-radius: 10px;
            width: 100%;
        }
    }
    // 貓咪基本資訊
    .information {
        background-color: #fff;
        border-radius: 10px;
        .information_title {
            h5 {
                margin-top: 5px;
                font-size: 24px;
                font-weight: bold;
                color: #d56246;
            }
            a {
                text-decoration: none;
                width: 36px;
                height: 36px;
                background-color: chocolate;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                .fas {
                    color: #fff;
                }
            }
        }
        li {
            list-style: none;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            margin-bottom: 15px;
        }
    }
    // 中途資訊
    .midway_information {
        background-color: #fff;
        border-radius: 10px;
        h6 {
            color: #647d5c;
            font-size: 22px;
            font-weight: 600;
        }
        li {
            list-style: none;
            font-size: 18px;
            font-weight: 600;
            line-height: 38px;
        }
    }
}

.advise {
    // 申請前叮嚀
    .apply {
        h2 {
            letter-spacing: 5px;
            font-weight: 600;
            border-bottom: 3px solid #d56246;
            padding-bottom: 5px;
            margin-bottom: 25px;
        }
        ul {
            width: 80%;
            padding: 0px;
            li {
                list-style: none;
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 30px;
            }
        }
    }
}

// 認養條件
.conditions {
    .condition {
        h2 {
            letter-spacing: 5px;
            font-weight: 600;
            border-bottom: 3px solid #d56246;
            padding-bottom: 5px;
            margin-bottom: 25px;
        }
        span {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 12px;
            a {
                text-decoration: none;
                color: rgb(19, 83, 202);
            }
        }
        ul {
            width: 80%;
            padding: 0px;
            li {
                list-style: none;
                letter-spacing: 4px;
                font-size: 20px;
                font-weight: 600;
                line-height: 38px;
            }
        }
        .agree {
            width: 80%;
            // position: relative;
            input {
                width: 20px;
                height: 20px;
                border: 3px solid #85550e;
                // background-color: #face8d;
                color: red;
            }
            label {
                color: #85550e;
                font-weight: 600;
                font-size: 21px;
            }
            p {
                color: #647d5c;
                font-weight: 600;
                font-size: 18px;
            }
            img {
                // position: absolute;
                top: 0px;
                left: 0px;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}

//申請單填寫
.requisition {
    h2 {
        letter-spacing: 5px;
        font-weight: 600;
        border-bottom: 3px solid #d56246;
        padding-bottom: 5px;
        margin-bottom: 25px;
    }
    .requisition_write {
        width: 80%;
        label {
            font-size: 18px;
            font-weight: 600;
        }
        h5 {
            color: #85550e;
            font-size: 18px;
            font-weight: 600;
        }
        p {
            font-weight: 600;
            font-size: 18px;
        }
        .btn {
            background-color: #d56246;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
