// 動物法律
.law_animal_content {
    margin-bottom: 100px;
    .row {
        width: 80%;
        a {
            text-decoration: none;
            h2 {
                color: #d56246;
                font-weight: 600;
                margin-bottom: 15px;
                &:hover {
                    color: saddlebrown;
                    text-shadow: 0 0 6px #85550E;
                }
            }
        }
        p {
            font-size: 18px;
            font-weight: 600;
            text-align: justify;
        }
    }
}

// 動物救援
.help_animal {
    margin-bottom: 80px;
    .row {
        width: 80%;
        h2 {
            color: #85550e;
            font-size: 70px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }
        h3 {
            color: #d56246;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 25px;
        }
        .card-body {
            p {
                font-size: 18px;
                font-weight: 600;
            }
            a {
                float: right;
                background-color: #d56246;
                color: #fff;
            }
            .reference {
                clear: right;
                float: right;
                padding: 70px 0px;
            }
        }
        // 不當飼養
        .not_rearing {
            h4 {
                font-size: 28px;
                font-weight: 600;
            }
            ul {
                list-style: none;
                padding: 0 18px;
                li {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 35px;
                }
            }
        }
        .not_rearing_dog {
            h4 {
                font-size: 28px;
                font-weight: 600;
            }
            p {
                font-size: 18px;
                font-weight: 600;
                padding: 0 8px;
            }
        }
    }
}

// 相關網站
.related {
    margin-bottom: 80px;
    .row {
        width: 80%;
        .related_www {
            h4 {
                font-size: 28px;
                font-weight: 600;
            }
            ul {
                list-style: none;
                padding: 0;
                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    color: black;
                    line-height: 30px;
                    &:hover {
                        color: rgb(69, 148, 240);
                    }
                }
            }
        }
        .consult {
            h4 {
                font-size: 28px;
                font-weight: 600;
            }
            a {
                text-decoration: none;
                font-size: 20px;
                font-weight: 600;
                color: black;
                &:hover {
                    color: rgb(69, 148, 240);
                }
            }
        }
    }
}

// 按鈕
.btn-group {
    .btngroup {
        &--btn {
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-decoration: none;
            text-transform: uppercase;
            background: #fff;
            border: 2px solid #ffffff;
            margin: 0 -1px -1px;
            display: inline-block;
            padding: 0.5em 1.25em;
            outline: 0;

            &:first-child {
                border-left-width: 2px;
                border-radius: 2em 0 0 2em;
            }

            &:last-child {
                border-radius: 0 2em 2em 0;
            }

            &:link {
                color: #bdc3c7;
            }
            &:visted {
                color: #bdc3c7;
            }

            &:hover {
                background: #d56246;
                color: #fff;
            }

            &:active {
                background: #fff;
                color: #34495e;
            }
        }
    }
}
