ul {
    list-style: none;
}

.news_content {
    .outline {
        a {
            color: black;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                color: rgb(255, 145, 0);
            }
        }
    }
    h5{
        background-color: #d56246;
    }
}




// 按鈕區塊
.btn-group {
    .btngroup {
        &--btn {
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.1em;
            text-decoration: none;
            text-transform: uppercase;
            background: #fff;
            border: 2px solid #ffffff;
            margin: 0 -1px -1px;
            display: inline-block;
            padding: 0.5em 1.25em;
            outline: 0;

            &:first-child {
                border-left-width: 2px;
                border-radius: 2em 0 0 2em;
            }

            &:last-child {
                border-radius: 0 2em 2em 0;
            }

            &:link {
                color: #bdc3c7;
            }
            &:visted {
                color: #bdc3c7;
            }

            &:hover {
                background: #d56246;
                color: #fff;
            }

            &:active {
                background: #fff;
                color: #34495e;
            }
        }
    }
}
