// @import url("https://fonts.googleapis.com/css?family=Montserrat");


.menu {
    list-style-type: none;
    .share {
        i.fa {
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            background-color: #fff;
            border-radius: 2px;
        }
        &:hover {
            &.bottom {
                .submenu {
                    @for $i from 1 through 5 {
                        li:nth-child(#{$i}) {
                            opacity: 1;
                            top: #{$i * 50}px;
                            transform: rotate(0deg);
                            border-top: 1px dashed darken($white, 20%);
                            transition-delay: #{$i * 0.08}s;
                        }
                    }
                }
            }
            &.left {
                .submenu {
                    @for $i from 1 through 5 {
                        li:nth-child(#{$i}) {
                            opacity: 1;
                            left: #{-$i * 51}px;
                            transform: rotate(0deg);
                            transition-delay: #{$i * 0.5}s;
                            border-right: 1px dashed darken($white, 20%);
                        }
                    }
                }
            }
            &.right {
                .submenu {
                    @for $i from 1 through 5 {
                        li:nth-child(#{$i}) {
                            opacity: 1;
                            left: #{$i * 50}px;
                            transform: rotate(0deg);
                            transition-delay: #{$i * 0.08}s;
                            border-left: 1px dashed darken($white, 20%);
                        }
                    }
                }
            }
        }
    }
    .submenu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            transition: all ease-in-out 0.5s;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            a {
                color: #212121;
                &:hover {
                    i.fa {
                        color: #fff;
                    }
                    &.facebook {
                        i.fa {
                            background-color: #3b5999;
                        }
                    }
                    &.twitter {
                        i.fa {
                            background-color: #55acee;
                        }
                    }
                    &.googlePlus {
                        i.fa {
                            background-color: #dd4b39;
                        }
                    }
                    &.instagram {
                        i.fa {
                            background-color: #e4405f;
                        }
                    }
                }
            }
        }
    }
    &.bottomLeft {
        bottom: 10px;
        left: 10px;
    }
}
